<div style="text-align:center">
  <h1>Welcome to avidtrader!</h1>
  <img width="450" src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png" />
</div>
<div>Message: {{ hello$ | async | json }}</div>

<button (click)="loadUser()">Load Users</button>
<div>
  Users:
  <ul *ngIf="user$ | async as users">
    <li *ngFor="let user of users">
      <div>Username: {{ user.username }}</div>
      <div *ngIf="user.email">Email: {{ user.email }}</div>
      <div>Name: {{ user.firstName }} {{ user.lastName }}</div>
      <br />
    </li>
  </ul>
</div>
